  <div id="content">
    <div class="content banda" id="banda">
      <h2><%= @abanda.title.upcase %></h2>
      <%= image_tag(@abanda.file) %>
      <%= @abanda.description.html_safe %>
    </div>
  </div>