
  <div id="content" class="caveirafraca">
    <div class="content agenda" id="agenda">
      <h2>AGENDA</h2>
      <ul>
        <% @agendas.each do |agenda| %>
        <a href="#amplia" title="Toxic Metal Fest"><li>
          <div class="date"><p class="code"><%= agenda.event_date.strftime("%d.%m") %></p></div>
          <div class="name">
            <h6 class="code"><%= agenda.title %></h6>
            <p class="code"><%= agenda.address %></p>
          </div>
          <div class="city"><p class="code"><%= agenda.city %></p></div>
        </li></a>
        <% end %>
      </ul>
    </div>
  </div>