<%= 
  #image_tag(@banner.first.file) 
%>

<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
  <script>
    (adsbygoogle = window.adsbygoogle || []).push({
      google_ad_client: "ca-pub-4982907570491971",
      enable_page_level_ads: true
    });
  </script>
  <header id="top">
    <div class="content">
      <menu>
        <li><a href="#home">HOME</a></li>
        <li><a href="#banda">A BANDA</a></li>
        <li><a href="#agenda">AGENDA</a></li>
        <li><a href="#fotos">FOTOS</a></li>
        <li><a href="#videos">VÍDEOS</a></li>
        <li><a href="#discografia">DISCOGRAFIA</a></li>
        <li><a href="#parceiros">PARCEIROS</a></li>
        <li><a href="#contato">CONTATO</a></li>
        <li><a href="#loja">LOJA</a></li>
      </menu>
      <div class="clear"></div>
    </div>
  </header>
  
  <div class="home" id="home">
    <%= image_tag("logo.png", :class => "logo", alt: "Logo banda Cano Serrado", title: "Cano Serrado") %>
  </div>