  <div id="content">
    <div class="content" id="discografia">
      <h2>DISCOGRAFIA</h2>
      <div class="half">
        <img src="./assets/images/exemplos.jpg" alt="Title" title="title" width="100%">
      </div>
      <div class="half">
        <ul class="discografia code">
          <li>Eterna Colonia - CD DEMO - 2016</li>

          <li>1. Devastação Mental <span class="code">Ouvir / letra</span></li>
          <li>1. Devastação Mental <span class="code">Ouvir / letra</span></li>
          <li>1. Devastação Mental <span class="code">Ouvir / letra</span></li>
          <li>1. Devastação Mental <span class="code">Ouvir / letra</span></li>

          <li>
            <ul class="botao">
              <li><a href="https://www.youtube.com/channel/UC2yDVP-oKAs3luNL2-BhN0A/videos" title="Youtube">BAIXAR CD</a></li>
            </ul>
          </li>
        </ul>
      </div>
      <div class="clearfix"></div>
      <p style="height:30px">&nbsp;</p><br>
      <img src="http://placehold.it/960x200" alt="" title="" width="100%">
    </div>
  </div>